

.text-primary { color: #b1682e }
.text-info { color: #603539 }
.text-success { color: #6a9a46 }
.text-warning { color: #e88a0e }
.text-danger { color: #f44336 }
.text-light { color: #EAD9C8 }
.text-dark { color: #37251B }

.text-center { text-align:center }
.text-left { text-align:left }
.text-right { text-align:right }

.bg-primary { background-color: #b1682e }
.bg-info { background-color: #603539 }
.bg-success { background-color: #6a9a46 }
.bg-warning { background-color: #e88a0e }
.bg-danger { background-color: #f44336 }

.btn {
    padding: 10px;
    border: 1px #ac652b;
    border-radius: 5px;
    display: block;
}

.btn-primary { background-color: #b1682e }
.btn-primary:hover {
    cursor: pointer;
    background-color: #37251B;
    color: #EAD9C8
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
  
[class*="col-"] {
    width: 100%;
}

.product__container img {
    width: 50%
}

@media only screen and (min-width: 768px) {
    .product__container .row .col-2 img {
        width: 90%
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}